/* start  */

* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    }

    body, html {
    height: 100%;
    font-size: 65%;
    scroll-behavior: smooth;
    }

    main{
    position: relative;
    padding: 5rem;
    overflow: hidden;
    max-width: 1440px; 
    height: 1832px;
      
    }
    

 .page-container{
    position: relative;
    top: 0px;
    left: 0px;
    } 

    .bg{
        background-image: url(./assets/bg-main-desktop.png);
        height: 100%;
        left: 50px;
        top: 200px;
        /* background-position: center; */
        /* background-size: cover; */
        background-repeat: no-repeat;

    }
    .page-logo{
    width: 146px;
    height: 32px;
    left: 180rem;
    top: 61.99px;
    
    } 
 .rectangle-shape-1{
    position: relative;
    width: 20px;
    height: 40rem;
    left: 95rem;
    top: -13rem;
} 

.text{
    position: relative;
    width: 1015px; 
    height: 216px;
    left: -0.1rem;
    top: -26rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
} 

.text-2{
    position: absolute;
    width: 825px;
    height: 102px;
    left: 1rem;
    top: 38rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
} 

.container-shape-1{
    position: absolute;
    width: 110rem;
    height: 50rem;
    left: 4rem;
    top: 80rem;
    background: #191826;
    border-radius: 15px;
} 

.shape{
    position: absolute;
    width: 31rem;
    height: 468px;
    padding: 10px 34.10em;
    top: -5rem;

}
.mobile{
    position: relative;
    width: 312px;
    height: 642px;
    left: 45px;
    top: -20rem;
    padding: 5px 10em;   
} 

.mobile-copy{
    display: none;
}

.mobile-copy-2{
    display: none;
}

.container-shape-2{
    position: absolute;
    width: 44rem;
    height: 625px;
    left: 55rem; 
    top: 95px;
    background: #FA7453;
    border-radius: 12px; 
}  

.font-text-1{
    position: absolute;
    left: 6rem;
    top: 5rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #ffffff;
}

.font-text-2{
    position: absolute;
    width: 70%;
    height: 17px;
    left: 6rem;
    top: 14rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
} 

.font-text-3{
    position: absolute;
    height: 52px;
    left: 6rem;
    right: 52.12%;
    top: calc(59% - 50px/2);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
} 

.month{
    position: absolute;
    height: 32px;
    left: 57.58%;
    right: 0%;
    top: calc(50% - 32px/2 - 1px);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;

}

.btn{
    position: absolute;
    width: 333px;
    height: 61px;
    left: 6rem;
    top: 40rem;
    background: #191826;
    border-radius: 12px;
    border: none !important;
}

.btn .apple{
    position: absolute;
    height: 32px;
    left: -1rem;
    right: 0%;
    top: calc(50% - 32px/2); 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}

.btn:hover{
    cursor: pointer;
    background-color: #66E2DC;
}

.btn-1{ 
    position: absolute;
    width: 333px;
    height: 61px;
    left:6rem;
    top: 48rem;
    background: #FCFAF9;
    border-radius: 12px;
    border: none !important;
}

.btn-1 .andriod{
    position: absolute;
    height: 32px;
    left: 1rem;
    right: -0.56%;
    top: calc(50% - 32px/2);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826;
}

.btn-1:hover{
    cursor: pointer;
    background-color:#FFB964;
}

footer{
    position: absolute;
    justify-content: space-between;
    width: 1110px; 
    left: 4rem;
    top: 160rem;    
}

footer p{
    position: absolute;
    justify-items: center;
    left: 25rem;
    right: 45rem;
    top: 0%;
    bottom: 0%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826; 
}

.social-media{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 1010px;
    top: 29px;
}  

.social-media img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
    
}

.social-media img:hover {
    cursor: pointer;
    background-color: #FA7453;
    opacity: 0.5;
    
}

/* End */


@media only screen and (max-width:768px) and (min-width: 430px ){
 
    main{
        padding: 3rem;
        overflow: hidden;
        max-width: 768px; 
        height: 1781px; 
        background: url(./assets/bg-main-tablet.png) no-repeat;   
    } 

    .page-container{
        position: relative;
        top: 0px;
        left: 0px;
    } 
    .page-logo{
        width: 146px;
        height: 32px;
        left: 180rem;
        top: 61.99px;
        
    } 
    
    .rectangle-shape-1{
        width: 20px;
        left: 43rem;
        top: -10rem;
    } 
    
    .text{
        width: 80%; 
        height: 21px;
        left: 1rem;
        top: -25rem;
        font-weight: 510;
        font-size: 65px;
        line-height: 65px;
        letter-spacing: -3px;
        color: #191826;
    } 

    .text-2{
        width: 70%;
        left: 1rem;
        top: 43rem;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 1px;
        color: #191826;
    } 

    .container-shape-1{
        width: 90%;
        height: 55rem;
        left: 4rem;
        top: 86rem;
        background: #191826;
        border-radius: 15px;
    }

    .shape{
        width: 31rem;
        height: 468px;
        padding: 10px 34.10em;
        left: -17rem;
        top: -6rem;
    
    }

    .mobile{
        display:none;
    }

    .mobile-copy-2{
        display:none;
    }
    .mobile-copy{
        position: relative; 
        display: inline;
        width: -10%;
        height: 64px;
        left: 5rem;
        top: -12rem;
    } 

    .container-shape-2{
        width: 35rem;
        height: 510px;
        left: 21rem; 
        top: 15rem;
        background: #FA7453;
        border-radius: 12px; 
    }

    .font-text-1{
        left: 4rem;
        top: 3rem;
       
    }
    .font-text-2{
        width: 80%;
        height: 8px;
        left: 4rem;
        top: 9rem;
        line-height: 25px;
       
    }

    .font-text-3{
        height: 52px;
        left: 4rem;
        top: 25rem;
      
    } 
    
    .month{
        left: 9rem;
    }
    
    .btn{
        position: absolute;
        width: 285px;
        height: 60px;
        left: 4rem;
        top: 33rem;
    }
    
    .btn-1{ 
        position: absolute;
        width: 285px;
        height: 60px;
        left:4rem;
        top: 40rem;
    }
   

    footer{
        position: absolute;
        justify-content: space-between;
        width: 1110px; 
        left: 4rem;
        top: 155rem;    
    }
    
    footer p{
        width: 34%;
        top: 5rem;
        left: 0rem;
        
    }
    
    .social-media{
        height: 20px;
        left: 58rem;
        top: 8rem;
    }  
  
}
    
@media only screen and (max-width: 375px) and (min-width:280px){ 
    
    main{
        padding: 1rem;
        overflow: hidden;
        width: 375px; 
        height: 1945px; 
        background: url(./assets/bg-main-mobile.png) no-repeat;   
    }
    
    .rectangle-shape-1{
        display: none;
    }

    .page-container{
        position: relative;
        top: 0px;
        left: 0px;
    }

    .page-logo{
        position: absolute;
        width: 14px;
        height: 32px;
        left: 12px;
        top: 30px;
    }

    .text{
        position: absolute; 
        width: 80%; 
        height: 21px;
        left: 1rem;
        top: 12rem;
        font-weight: 510;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -3px;
        color: #191826;
   } 

   .text-2{
        position: absolute;
        width: 300px;
        height: 156px;
        left: 15px;
        top: 300px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
}   

    .container-shape-1{
        position: absolute;
        width: 375px;
        height: 580px;
        left: 0px;
        top: 650px;
    }

    .shape{
        position: absolute;
        width: 2rem;
        height: 468px;
        padding: 10px 34.10em;
        left: -20rem;
        top: -1rem;
    }

    .mobile{
        display: none;
    }
    .mobile-copy{
        display: none;
    }

    .mobile-copy-2{
        position: relative; 
        display: inline;
        width: -10%;
        height: 64px;
        left: 5rem;
        top: -12rem;
    }

    .container-shape-2{
        width: 375px;
        height: 580px;
        left: 0px;
        top: 42rem;
    }

    .font-text-2{
        top: 12rem;
    }

    .font-text-3{
        top: 33rem;
    } 
    
    .month{
        left: 9rem; 
    }
    
    .btn{
        width: 285px;
        height: 60px;
        left: 4rem;
        top: 40rem;
    }
    
    .btn-1{ 
        width: 285px;
        height: 60px;
        left:4rem;
        top: 47rem;
    }
   

    footer{
        position: absolute;
        justify-content: space-between;
        width: 1110px; 
        left: 4rem;
        top: 166rem;    
    }
    
    footer p{
        width: 28%;
       top: 5rem;
        left: 0rem;
    }
    
    .social-media{
       top: 18rem;
        left: 0rem;
    }  
  
}

 
 