/* start  */

*,
*::before,
*::after {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

.page{
    position: relative;
    padding: 2rem;
    overflow: hidden;
    max-width: 1440px; 
    height: 1500px;   
}

.page::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -14rem;
    left: -10rem;
    background: url(./assets/bg-main-desktop.png)  center/cover no-repeat;
}

.page-container{
    position: relative;
    top: 0px;
    left: 0px;
}

.page-logo{
    width: 146px;
    height: 32px;
    left: 180rem;
    top: 61.99px;
    
} 
 .rectangle-shape-1{
    position: relative;
    width: 20px;
    height: 40rem;
    left: 99rem;
    top: -9.5rem;
} 

.page-text{
    position: relative;
    width: 1015px; 
    height: 216px;
    left: -0.1rem;
    top: -26rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
} 

.page-text-2{
    position: absolute;
    width: 825px;
    height: 102px;
    left: 1rem;
    top: 38rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
} 

.container-shape-1{
    position: absolute;
    width: 110rem;
    height: 50rem;
    left: 4rem;
    top: 75rem;
    background: #191826;
    border-radius: 15px;
} 

.shape{
    position: absolute;
    width: 31rem;
    height: 468px;
    padding: 10px 34.10em;
    top: -5rem;

}
.mobile{
    position: relative;
    width: 312px;
    height: 642px;
    left: 45px;
    top: -20rem;
    padding: 5px 10em;   
} 

.container-shape-2{
    position: absolute;
    width: 44rem;
    height: 625px;
    left: 55rem; 
    top: 95px;
    background: #FA7453;
    border-radius: 12px; 
}  

.font-text-1{
    position: absolute;
    left: 6rem;
    top: 5rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #ffffff;
}

.font-text-2{
    position: absolute;
    width: 70%;
    height: 17px;
    left: 6rem;
    top: 14rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
} 

.font-text-3{
    position: absolute;
    height: 52px;
    left: 6rem;
    right: 52.12%;
    top: calc(59% - 50px/2);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
} 

.month{
    position: absolute;
    height: 32px;
    left: 57.58%;
    right: 0%;
    top: calc(50% - 32px/2 - 1px);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;

}

.btn{
    position: absolute;
    width: 333px;
    height: 61px;
    left: 6rem;
    top: 40rem;
    background: #191826;
    border-radius: 12px;
    border: none !important;
}

.btn .apple{
    position: absolute;
    height: 32px;
    left: -1rem;
    right: 0%;
    top: calc(50% - 32px/2); 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}

.btn:hover{
    cursor: pointer;
    background-color: #66E2DC;
}

.btn-1{ 
    position: absolute;
    width: 333px;
    height: 61px;
    left:6rem;
    top: 48rem;
    background: #FCFAF9;
    border-radius: 12px;
    border: none !important;
}

.btn-1 .andriod{
    position: absolute;
    height: 32px;
    left: 1rem;
    right: -0.56%;
    top: calc(50% - 32px/2);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826;
}

.btn-1:hover{
    cursor: pointer;
    background-color:#FFB964;
}

footer{
    position: relative;
    justify-content: space-between;
    width: 1110px; 
    left: 4rem;
    top: 16rem;    
}

footer p{
    position: absolute;
    justify-items: center;
    left: 25rem;
    right: 45rem;
    top: 0%;
    bottom: 0%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826; 
}

.social-media{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 1010px;
    top: 29px;
}  

.social-media img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-media img:hover{
    cursor: pointer;
    background-color: #FA7453;
}
/* End */

/* responsive style // Tablet mode */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {   
    .page{
     position: relative;
     padding: 2rem;
     overflow: hidden;
     width: 1440px; 
     height: 1500px;   
     font-family: 'IBM Plex Sans', sans-serif;
    }  

    .page::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: -10rem;
        left: 10px;
        background: url(./assets/bg-main-tablet.png) no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        background-size: cover;
    } 

    .page-container{
    position: relative;
    width: 100%;
    height: 100%; 
    }

    .page-logo{
    position: absolute;
    width: 146.09px;
    height: 32px;
    left: 10rem;
    top: 61.99px;
}

.rectangle-shape-1{
    position: absolute;
    width: 266px;
    height: 400px;
    left: 110rem;
    top: -32px;
}

.page-text{  
    position: absolute;
    width: 510px;
    height: 192px;
    left: 10rem;
    top: 189px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: -0.1027273px;
}

.page-text-2{
    position: absolute;
    width: 640px;
    height: 112px;
    left: 10rem;
    top: 50rem;
    font-family: 'IBM Plex Sans'; 
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
}

.container-shape-1{
    position: absolute;
    width: 1200px;
    height: 600px;
    left: 10rem;
    top: 95rem;
}

.shape{
    position: absolute;
    width: 280px;
    height: 420px;
    left: -3rem;
    top: -5rem;
}

.mobile{
    /* position: absolute; */
    position: relative;
    width: 312px;
    height: 642px;
    left: 45px;
    top: -20rem;
    padding: 5px 10em; 
} 

.container-shape-2{
    position: absolute;
    width: 750px;
    height: 650px;
    left: 32rem;
    top: 14rem;
}

.font-text-1{
    left: 20rem;
}

.font-text-2{
    width: 295px;
    height: 140px;
    left: 20rem;
    top: 13rem;
}

.font-text-3{
    position: absolute;
    height: 52px;
    left: 20rem;
    right: 52.12%;
    top: 40rem;
}

.btn{
    position: absolute;
    width: 296px;
    height: 61px;
    left: 20rem;
    top: 48rem;
}

.btn-1{
    position: absolute;
    width: 296px;
    height: 61px;
    left: 20rem;
    top: 55rem;
}

footer{
    position: relative;
    justify-content: space-between;
    width: 1110px; 
    left: 13rem;
    top: 38rem;
}

footer p{
    position: absolute;
    width: 32%;
    left: 0%;
    right: 13rem;
    top: 7rem;
    bottom: 0%;

}

.social-media{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 1070px;
    top: 94px;
}

}



@media (max-width: 420px){
      
.page{
    position: relative;
    padding: 2rem;
    overflow: hidden;
    width: 1440px; 
    height: 1500px;   
    font-family: 'IBM Plex Sans', sans-serif;
}

.page::before {
    position: absolute;
    content: '';
    width: 100%; 
    height: 100%; 
    padding: 5px 10em 20em 50px;
    background: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
} 

.page-container{
    position: relative;
    width: 100%;
    height: 100%;
  
}

.page-logo{
    position: absolute;
    width: 146.09px;
    height: 32px;
    left: 10rem;
    top: 61.99px;

}

.rectangle-shape-1{
    display: none;
}

.page-text{ 
    position: absolute;
    width: 510px;
    height: 192px;
    left: 10rem;
    top: 189px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: -0.1027273px;
}

.page-text-2{
    position: absolute;
    width: 500px;
    height: 112px;
    left: 10rem;
    top: 50rem;
    font-family: 'IBM Plex Sans'; 
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
}

.container-shape-1{
    position: absolute;
    width: 1200px;
    height: 600px;
    left: 10rem;
    top: 95rem;
}

.shape{
    position: absolute;
    width: 480px;
    height: 420px;
    left: 8rem;
    top: -1rem;
}

.mobile{
    position: absolute;
    width: 208.97px;
    height: 430px;
    left: 32rem;
    top: -26rem;
}

.container-shape-2{
    position: absolute;
    width: 1200px;
    height: 610px;
    left: 0rem;
    top: 42rem;
}

.font-text-1{
    left: 40rem;
}

.font-text-2{
    width: 295px;
    height: 140px;
    left: 40rem;
    top: 13rem;
}

.font-text-3{
    position: absolute;
    height: 52px;
    left: 40rem;
    right: 52.12%;
    top: 35rem;
}

.font-text-3,
.month{
    position: absolute;
    width: 16rem;
}

.btn{
    position: absolute;
    width: 320px;
    height: 61px;
    left: 40rem;
    top: 44rem;
}

.btn-1{
    position: absolute;
    width: 320px;
    height: 61px;
    left: 40rem;
    top: 51rem;
}

footer{
    position: relative;
    justify-content: space-between;
    width: 1110px; 
    left: 13rem;
    top: 60rem;
}

footer p{
    position: absolute;
    width: 40%;
    left: 0%;
    right: 13rem;
    top: 7rem;
    bottom: 0%;

}

.social-media{
    position: absolute;
    width: 40%;
    left: 0%;
    right: 13rem;
    top: 18rem;
    bottom: 0%;
}

}

 
 